body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 5.0rem;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  color: white;
  background-color: #ff4c68;
  position: relative;
  z-index: -1;
}

.container-fluid {
  padding: 3% 11% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 6.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 30%;
  padding-left: 7.5rem;
  transform: rotate(25deg);
  position: absolute;
}

#features {
  text-align: center;
  background-color: white;
  position: relative;
}

.feature-box {

}

.feature-icon {
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-h3 {
  margin-top: 0.9rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.feature-p {
  font-weight: 300;
  color: #afafaf;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 60%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

.signup-btn {
  width: 80%;
}

/* Pricing Section */
#pricing {
  text-align: center;
  padding: 70px;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    padding-left: 0;
    text-align: center;
  }
}

/* True Love */

#cta {
  padding-top: 80px;
  background-color: #ff4c68;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}

.true-love {
  font-size: 2.5rem;
  width: 50%;
  margin: 0 auto;
}

/* Footer */
#footer {
  padding-top: 90px;
  text-align: center;
}

.btn-light {
  background-color: white;
}
